@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

/* Variavel para as cores */
:root{
    --fundo-menu-lateral: #0d0d0d;
    --fundo-claro:#940999;
    --fundo-escuro:#0D0D0D;

    --texto-escuro: #00070D;
    --texto-menu:#0CF25D;
    --texto-claro:#ffffffea;
    --texto-titulo:#0CF25D;

    --detalhes-claro: #91cf9b;
    --detalhes-icones: #ffffff;
    --detalhes-escuro: #D904A0;

    /* --cor-transparente: rgba(0,255,0, 0.5); */
}

/* CSS Principal */
body{
    font-family: "Open", sans-serif;
    /* color: #00070D; */
    color: var(--texto-claro);
    background: var(--fundo-escuro);
}
a {
    color: var(--texto-claro);
    text-decoration: none;
}
a:hover {
    color: var(--detalhes-claro);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Calligraffitti", sans-serif;
}
/* cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: var(--fundo-menu-lateral);
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 99999;
    overflow-y: auto;
}
.perfil img{
    margin: 35px auto;
    display: block;
    width: 120px;
    border: 2px solid var(--detalhes-claro);
    box-shadow: 0px 0px 15px 5px rgb(26, 26, 26);
}
.perfil h1 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    font-family: "Calligraffitti", sans-serif;
}
.perfil .social-links a {
    font-size: 20px;
    display: inline-block;
    background: var(--fundo-claro);
    color: var(--texto-escuro);
    line-height: 1;
    padding: 8px 2px;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.5s;
}
.perfil .social-links a:hover {
    background: var(--texto-claro);
    color: var(--fundo-menu-lateral);
    text-decoration: none;
}
/*principal*/
#main {
    margin-left: 300px;

}

.container,
.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

@media(max-width: 1199px){
    #header{
        left: -300px
    }
    #main{
        margin-left: 0;
    }
    .container-fluid{
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* menu Nav Desktop */
.nav-menu {
    padding: 30px 0 0 0;
}
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}
.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: var(--texto-claro); /*texto claro*/
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.8s;
    font-size: 15px;
}
.nav-menu a i,
.nav-menu a:focus i{
    font-size: 24px;
    padding-right: 12px;
    color: var(--texto-claro);
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-menu);
}
.nav-menu a:hover i, 
.nav-menu .active i,
.nav-menu .active:focus i, 
.nav-menu li:hover>a i {
    color: var(--detalhes-escuro);
}/* fim Header */

/* nav mobile */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9999;
    border: 0;
    font-size: 25px;
    transition: all 0.5s;
    /* outline: none !important; */
    background: var(--fundo-claro);
    color: var(--fundo-menu-lateral);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
}
.mobile-nav-active {
    overflow: hidden;
}
.mobile-nav-active #header {
    left: 0;
}
/* HERO */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top center;  /*inserir img no CSS*/
    background-size: cover;
}
#hero::before{   /* pseudo elemento css */
    content: "";
    background: rgba(5, 13, 26, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; /*sobrepor algum objeto/elemento*/
}
#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
    background-color: #ff47f6c5;
    border-radius: 100%;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px; /* 56 */
    color: var(--detalhes-icones);   
}
#hero p {
    color: var(--detalhes-icones);
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Open" sans-serif;
}
#hero p span {
    color: var(--texto-claro);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--detalhes-escuro);
}

@media(min-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
}
@media(max-width: 768px){
    #hero h1{
        font-size: 90px;
        line-height: 120px;
    }
    #hero p {
    font-size: 24px;
}
}
section {
    padding: 60px 0;
    overflow: hidden;
}
.section-bg {
    background: var(--fundo-claro);
}
.section-title{
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--texto-titulo);
}
.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--detalhes-claro);
}
.section-title p{
    margin-bottom: 0;
}
.sobre .content h3{
    font-size: 30px;
    font-weight: 500;
    color: var(--detalhes-icones);
    
}
.sobre .container ul{
    list-style: none;
    padding: 0;
}

.sobre .container ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sobre .container ul strong {
  
    margin-right: 15px;
   
}
.sobre .container ul i{
    font-size: 22px;
    margin-right: 10px;
    color: var(--detalhes-icones);
    line-height: 0;
}
.conquistas{
    padding-bottom: 30px;
}
.conquistas .count-box {
    padding: 30px;
    width: 100%;
}
.conquistas .count-box i {
    display: block;
    font-size: 45px;
    color: var(--detalhes-escuro);
    float: left;
    line-height: 0;
}

.conquistas .count-box span {
    font-size: 50px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: var(--texto-titulo);
    margin-left: 60px;

}
.conquistas .count-box p{
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: 'Helvetica', serif;
    font-size: 16px;
    color: var(--texto-claro);
}
.conquistas .count-box i:hover{
    color: var(--texto-menu);
}

/* skiils/vendas */

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill{
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "open", sans-serif;
    color: var(--texto-escuro);
}
.skills .progress .skill .val{
    float: right;
    font-style: normal;

}
.skills .progress-bar-bg{
    background: var(--detalhes-escuro); /* cor da barra (fundo) */
    height: 10px;
}
.skills .progress-bar{
    width: 1px;
    height: 10px;
    transition: 2s;
    background: var(--texto-titulo);
}
.resumo .resumo-titulo{
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--texto-titulo);
}
.resumo .resumo-item{
    padding: 0 0 20px 20px;
    /* margin-top: ; */
    border-left: 2px solid var(--texto-titulo);
    position: relative;
   
}
.resumo .resumo-item h4{
    line-height: 22px;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Calligraffitti';
    color: var(--texto-titulo);
    margin-bottom: 25px;
}
.resumo .resumo-item h5 {
    font-size: 16px;
    background: var(--detalhes-escuro);
    color: var(--texto-claro);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.resumo .resumo-item ul {
    padding-left: 20px;
}
.resumo .resumo-item ul li{
    padding-bottom: 10px;
}
.resumo .resumo-item::before{
    /* :: Pseudo elemento */
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--fundo-claro);
    border: 2px solid var(--texto-titulo)

}